* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}


.header {
    background-color: #222222;
    padding: 19px 0;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-right: 41px;
}

.header__item:not(:last-child) {
    margin-right: 33px;
}

.intro {
    background-color: #F1E4E6;
    height: 764px;
    margin: 0 0 65px 0;
}

.intro__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../img/men.png);
    background-repeat: no-repeat;
    background-position: -212px bottom;
}

.intro__text {
    max-width: 377px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    }

h1 {
    color: #222222;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.decor {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;    
    color: #222222;    
    box-sizing: border-box;
}

.decor_pink {
    color: #F16D7F;
}

.category__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category__item {
    width: 100%;
    height: 260px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__item_woman {
    background-image: url(../img/category_woman.png);
}

.category__item_man {
    background-image: url(../img/category_men.png);
}

.category__item_kids {
    background-image: url(../img/category_kids.png);
}

.category__item_accesories {
    height: 180px;
    background-image: url(../img/category_accesories.png);
}

.category__item:not(:last-child) {
    width: 360px;
    margin: 0 0 30px 0;
}

.category__text {
    max-width: 160px;
}

.text {
    font-family: lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.category__decor {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.card__product {
    margin-top: 96px;
}
 
.cardbox____wrap {

}

h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}
    
.card__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
    text-align: center;
} 

.card__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}


.card {
    width: 360px;
    min-height: 581px;
    background-color: grey;
    margin-bottom: 30px;
    }