* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}


.header {
    background-color: #222222;
    padding: 19px 0;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-right: 41px;
}

.header__item:not(:last-child) {
    margin-right: 33px;
}

.intro {
    background-color: #F1E4E6;
    height: 764px;
    margin: 0 0 65px 0;
}

.intro__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../img/men.png);
    background-repeat: no-repeat;
    background-position: -212px bottom;
}

.intro__text {
    max-width: 377px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    }

h1 {
    color: #222222;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.decor {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;    
    color: #222222;    
    box-sizing: border-box;
}

.decor_pink {
    color: #F16D7F;
}

.category__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category__item {
    width: 100%;
    height: 260px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__item_woman {
    background-image: url(../img/category_woman.png);
}

.category__item_man {
    background-image: url(../img/category_men.png);
}

.category__item_kids {
    background-image: url(../img/category_kids.png);
}

.category__item_accesories {
    height: 180px;
    background-image: url(../img/category_accesories.png);
}

.category__item:not(:last-child) {
    width: 360px;
    margin: 0 0 30px 0;
}

.category__text {
    max-width: 160px;
}

.text {
    font-family: lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.category__decor {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.card__product {
    margin-top: 96px;
}
 
h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}
    
.card__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
    text-align: center;
} 

.card__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}


.card {
    width: 360px;
    min-height: 581px;
    margin-bottom: 30px;
    background: #F8F8F8;
}

.card__product_name {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 25px;
    padding-left: 18px;
}

.card__description {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 12px 0 18px 25px;
}

.card__price {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
    padding-bottom: 20px;
}

.card__button {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 15px 39px;
    text-decoration: none;
    border: 1px solid #FF6A6A;
    }

.card__button_bottom {
    width: 100%;
    text-align: center;
    margin: 48px 0 95px 0;
}
.advantages {
    background: #222224;
}

.advantages__list {
    height: 341px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages__info {
    width: 360px;
    height: 134px;
    text-align: center;
}

.advantages_img_avto {
    padding-bottom: 28px;
}

.advantages_img_sale {
    padding-bottom: 19px;
}

.advantages_img_quality {
    padding-bottom: 25px;
}

.advantages__list_name {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    padding-bottom: 16px;
}

.advantages__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.feedback__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    box-sizing: border-box;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}
.footer__text_decor {
    font-style: italic;
}

.feedback {
    align-items: center;
    background-image: url(../img/footer_back.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 448px;
}

.feedback__group {
    display: flex;
    justify-content: center;
}

.feedback__left {
    min-height: 225px;
    width: 360px;
    text-align: center;
}

.feedback__right {
    width: 557px;
    min-height: 142px;
}

.feedback__name {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.footer__center_text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.feedback__button{
    display: flex;
    justify-content: center;
    margin-top: 39px;
}


.feedback__button_rigth {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 7px 6px 8px;
    background: #F16D7F;
    text-align: center;
    border-radius: 0 12px 12px 0;
}
.feedback__email {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 7px 64px 6px 22px;
    border-radius: 12px 0 0 12px;
}

.footer {
    background: #222224;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}

.footer__text_bottom {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__info:not(:last-child) {
    margin-right: 7px;
}

.catalog__top {
    background: #F8F3F4;
    height: 148px;
    }

.catalog__top_menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 
.catalog__top_menu_left {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.catalog__top_menu_rihtg {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.catalog_menu_decor {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.filter {
    height: 132px;
    display: flex;  
}

.filter__wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter_menu_left {
    justify-content: start;
}

.filter_menu_right {
    display: flex;
    justify-content: center;
    align-items: center;
    }