.catalog-menu {
    background: #f8f3f4;
    height: 148px;

    &__group{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #f16d7f;
    }

    &__right {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363; 

         & span {
        font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #f16d7f;
        }   
    }
   
}

