.intro {
    background-color: #f1e4e6;
    height: 764px;
    margin: 0 0 65px 0;

    &__wrap {
        min-height: 764px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: url(../img/men.png);
        background-repeat: no-repeat;
        background-position: -212px bottom;

    }

    &__text {
        width: 36%;
        border-left: 12px solid $text-color;
        padding-left: 16px;
    }

    & h1 {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
    }

    & span {
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
    }
    
    &__decor {
        color: $text-color;
    }
}
