@media (max-width: 1024px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .intro {
        height: 368px;
        margin-bottom: 20px;

        &__wrap {
            min-height: 368px;
            background-image: url(../img/men_tablet.png);
            background-position: -99px bottom;
        }

        &__text {
            width: 44%;
        }

        & h1 {
            font-size: 44px;
            line-height: 53px;
        }

        & span {
            font-size: 24px;
            line-height: 29px;
        }
    }

    .category {
        margin-bottom: 154px;
    }

    .category__item:not(:last-child) {
        margin: 0 0 19px 0;
    }

    .card-box__text {
        margin-bottom: 72px;
    }
    .card {
        margin-bottom: 16px;
        &:last-child {
            visibility: hidden;
            display: none;
        }
        

        &__button {
            margin: 32px 0 65px 0;
        }
    }

    .advantages {
        &__list {
            min-height: 610px;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    .feedback {
        height: 614px;
        background-position: center bottom;
        background-image: url(../img/feedback-tablet.jpg);

        &__group {
            height: 614px;
            background-size: 100%;
            flex-direction: column;
            justify-content: center;
        }

        &__left {
            margin-bottom: 48px;
        }
    }

    .filter-box {
        height: 81px;
    }

    .list__button_wrap {
        margin-bottom: 63px;
        margin-top: 40px;
    }

    .shopping-cart {
        margin-top: 59px;
        flex-direction: column;

        &__cart {
            width: 734px;
        }

        &__right {
            flex-direction: column;
            justify-content: space-between;

            &__forma {
                width: 360px;
            }
            &__checkout {
                width: 360px;
            }
        }
        &__bottom {
            align-items: center;
        }
        &__bottom:first-child {
            margin-right: 48px;
        }
    }

    .registration {
        margin: 40px auto 96px;

        &__info {
            width: 354px;
            font-size: 16px;
            line-height: 19px;

            & h3 {
                padding-bottom: 32px;
            }
        }
    }
    .nav {
        height: 80vh;
        }

}
