@media (max-width: 667px) {
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .header__item:not(:first-child) {
        display: none;
    }

    .intro {
        min-height: 363px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 64px;

        &__wrap {
            background-image: none;
            display: flex;
            justify-content: center;
        }

        &__text {
            width: 80%;
        }

        & h1 {
            font-size: 38px;
            line-height: 46px;
        }

        & span {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .category {
        flex-direction: column;
        margin-bottom: 64px;
    }
    .category__item:not(:last-child) {
        width: 100%;
        margin: 0 0 32px 0;
    }

    .card-box__text {
        margin-bottom: 64px;
    }

    .card {
        width: 100%;
        margin-bottom: 15px;
        &:last-child {
            visibility: hidden;
            display: none;
        }

        &:nth-child(odd) {
            margin-right: 0;
        }

        &__button {
            margin: 40px 0 96px 0;
        }
    }

    .advantages {
        &__list {
            min-height: 610px;
            flex-direction: column;
            justify-content: space-around;
        }

        &__info {
            width: 90%;
        }
    }

    .feedback {
        height: 550px;
        background-position: center bottom;
        background-image: url(../img/feedback-tablet.jpg);

        &__group {
            height: 550px;
            background-size: 100%;
            flex-direction: column;
            justify-content: center;
        }

        &__left {
            margin-bottom: 59px;
            width: 90%;
            font-size: 18px;
            line-height: 22px;
        }
        &__right {
            width: 100%;

            & h3 {
                line-height: 153.2%;
            }

            & P {
                font-size: 14px;
                line-height: 153.2%;
            }
        }
    }

    .feedback__button {
        & input {
            padding: 6px 61px 5px 21px;
        }
    }

    .footer {
        &__wrap {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }

        &__left {
            order: 2;
            padding-bottom: 9px;
            padding-top: 0;
        }
        &__right {
            order: 1;
            padding-top: 43px;
            padding-bottom: 40px;
        }
    }
    .catalog-menu {
        &__group {
            flex-direction: column;
            justify-content: center;
        }

        &__left {
            margin-bottom: 32px;
        }
    }

    .filter-box {
        height: 81px;
    }

    .filter span {
        display: none;
    }
    .filter ::-webkit-details-marker {
        display: none;
    }

    .filter__list {
        font-size: 12px;
        line-height: 14px;
    }

    .filter_menu_right {
        min-width: 260px;
    }

    .list__button_wrap {
        margin-bottom: 64px;
        margin-top: 40px;
    }

    .filter__list:not(:last-child) {
        margin-right: 23px;
    }

    .product {
        margin-top: 0;
        margin-bottom: 64px;
        width: 100%;

        &__text {
            width: 100%;
            line-height: 143.1%;
        }
        &__price {
            padding-bottom: 32px;
        }
        &__menu {
            margin-top: 48px;
        }

        &__list {
            font-size: 10px;
            line-height: 12px;
        }
    }

    .slider {
        height: 374px;
        

        &__img {
            height: 86%;
        }
    }

    .product__card {
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .shopping-cart {
        margin-top: 39px;
        justify-content: center;

        &__cart {
            height: 188px;
            width: 358px;
        }

        &__button {
               
            & button {
               font-size: 12px;
               line-height: 14px;
               width: 50%;
            }
        }    

        &__bottom:first-child {
            margin-right: 9px;
        }

        &__right {
            display: flex;
            flex-direction: column;
            width: 360px;
            text-align: center;
            justify-content: center;
            margin-top: 48px;
            margin-bottom: 96px;
        }

        &__forma {
            margin-bottom: 48px;
            margin-right: 0;
            
        }
        &__checkout {
            margin-right: 0;
        }      

      
    }

    .shopping-cart__text {
        width: 144px;

        & h3 {
            font-size: 16px;
            line-height: 19px;
            margin: 13px auto 25px;
        }

        & li {
            font-size: 14px;
            line-height: 17px;
            padding-bottom: 4px;
        }
    }

    .registration {
        margin: 40px auto 96px;
        height: 895px;

        &__wrap {
            flex-direction: column;
        }
        &__forma {
            margin-bottom: 40px;
        }

        &__info {
            font-size: 16px;
            line-height: 19px;
        }
    }

    .nav {
        height: 363px;
    }
    .shopping-cart__bottom:first-child {
        margin-right: 9px;
    }

    .shopping-cart__bottom {
        margin-bottom: 30px;
        margin-top: 48px;

        & button {
            font-size: 12px;
            line-height: 14px;
            color: #000000;
            padding: 9px 18px;
        }
    }
}
